/* Styles for SpecialPage component */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./2297303988.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rest of your styles */
